.route-creator-route-name{
  position: absolute;
  top: 38px;
  min-width:80px;
  min-height:20px;
  background: orange;

  input{
    position: absolute;
    top:0;
    width:100%;
    border:0;
    background: #ccc;

  }

}