#route-creator-main{
  position: relative;
  header{
    color:  #333;
    h3{
      margin-top:1rem;
    }
  }
  button{
    position:relative;
    cursor:pointer;
  }

  #route-creator-container{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 450px;
    min-width: 600px;
    //background: #dedede;
    //background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.4);
    padding: 10px;
    border-radius: 10px;


  }

 ul.route-bar-items-list {
    position: relative;
    display:flex;
    flex-direction: column;
   list-style-type:none;
    padding:0;

   //padding-left:120px;

   &.main{
    // min-height: 300px;
     height: 100%;
     margin-left:104px;
     //left:140px;
   }

    ul.node-container {
      position: relative;
      display:flex;
      flex-direction: column;
      flex-grow: 1;
      top:0;
      list-style-type: none;

    }
  }


/*  #route-creator-content {
    position: relative;
    min-height: 300px;
    height: 100%;
    display:flex;
    flex-direction: column;
    background: #dedede;

    ul.node-container {
      position: relative;
      display:flex;
      flex-direction: column;
      flex-grow: 1;
      top:0;
      list-style-type: none;

    }
  }*/
}