$hj-railcasts: #072027;

.customize-panel {



  &#route-json-viewer{
    // background: #222;
   // opacity: 0;
    //display: none;

    pre {
      //top: 82px;
      position: absolute;
      min-width: 560px;
      font-size: .75rem;
      line-height: .75rem*1.2;

      code.json.hljs{
        background: $hj-railcasts;
      }
    }
  }


}