li.nav-creator-list-item{
  position:absolute;
  top:0;
 // margin: 5px 0 ;
  width:80%;
 // height: auto;
 // margin-bottom: 44px;

  //padding:5px 0;
  background: rgba(255,255,255,.8);
  cursor: pointer;
    height: 30px;
  //font-size:8px;
}
