li.node-item{
  position:absolute;
  top:0;
  // margin: 5px 0 ;
  width:100%;
  // height: auto;
  // margin-bottom: 44px;
  //flex-direction: column;

  //padding:5px 0;
  // background: rgba(255,255,255,.8);
  cursor: pointer;
  // max-height: 42px;
  //font-size:8px;


  section.input-bar {
    position:relative;
    width: 80%;
    display:flex;
    justify-content: space-between;
    background: #00aa88;
    max-height:38px;

    div.icons {
      position: relative;
      justify-self: flex-end;
      display: flex;
      justify-content: start;
      flex-direction: column;

      p.add-subnav{
        // background: coral;
        position:relative;
        font-size:9px;
        padding:0;
        margin:0;
        cursor:pointer;

        &.no-subnav{
          opacity:0;
          pointer-events: none;
        }
      }

      i {
        //background: orange;
        position:relative;
        align-self: flex-end;;

        cursor: pointer;
        // font-size:8px;
        //background: skyblue;


        &.delete {
          transform: rotate(180deg);
        }
      }
    }


    div.input {
      //  max-width:200px;
      margin-bottom: 4px;

      input {
        position: relative;
        z-index: 10;
        // max-width:50px;
        // background: orange;
      }

    }
  }


}