<div>
    <h1>spyne</h1>

    <h2>Application Generator<br/><span>Create a fully-functional Single-Page-Application with just a few clicks.</span></h2>


    <header>
        <h4>What is Spyne?</h4>
        <p>Spyne is a next-gen Javascript Framework designed from the ground up to efficiently develop the most demanding single-page-applications. <br/>The framework combines traditional coding principles with modern patterns to create the cleanest, most efficient Javascript codebase. </p>
        <h4>How to Generate Your Single-Page-App</h4>

        <p>After customizing the menu, your custom application outputs a data-file, html-templates and view-components (ViewStreams) that can be further customized with Javascript, Sass and Javascript libraries.</p>
    </header>


    <button class="cta-button"  data-type="toggleMain" data-value="true" data-event-type="container">Test it Out</button>


    <ul>




    </ul>


</div>