<section class="input-bar">
    <div class="dragger"></div>
    <div class="input">
        <input placeholder="{{label}}" data-clickable=true type="text" value="{{text}}">
    </div>
    <div class="icons">
        <i data-channel="UI" data-route-bar-event="delete" data-master-item="{{masterItem}}" data-holder-id="{{holderId}}" data-type="routeBar" class="route-bar-btn material-icons delete">minimize</i>
<!--
        MASTER ITEM INITIALIZED IN route-creator-traits.js
-->
        <p data-channel="UI" data-route-bar-event="add"    data-holder-id="{{holderId}}" data-type="routeBar" class="route-bar-btn add-subnav {{terminateClass}}">ADD SUBNAV ITEM</p>
    </div>

</section>
