<div class="dragger-bar">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1.8px"
         height="12px" viewBox="0 0 1.8 12" style="overflow:visible;enable-background:new 0 0 1.8 12;" xml:space="preserve">
<style type="text/css">

</style>
        <defs>
</defs>
        <g id="drga_copy">
	<g>
		<path class="dragger-dots" d="M0,0h1.8v1.8H0V0z M0,5.1h1.8v1.8H0V5.1z M0,10.2h1.8V12H0V10.2z"/>
	</g>
</g>
</svg>

</div>

<section class="input-bar">


    <div class="dragger"></div>
    <div class="input">
        <input placeholder="{{label}}" class="rl-{{routeLevel}}" data-clickable=true type="text" data-rl="{{routeLevel}}" value="{{text}}" pattern="[\w\-]{1,24}">
        <p class="input-label {{inputLabel}}">{{inputLabel}}</p>
    </div>
    <div class="icons">
        <i data-channel="UI" data-route-bar-event="delete" data-master-item="{{masterItem}}" data-holder-id="{{holderId}}" data-event-type="routeCreator" data-type="routeBar" class="route-bar-btn">
            <!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In  -->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="7px"
                 height="7px" viewBox="0 0 7 7" style="overflow:visible;enable-background:new 0 0 7 7;" xml:space="preserve">
<style type="text/css">

</style>
                <defs>
</defs>
                <g id="remove_copy">
	<path class="st0" d="M4.8,3.5l1.9-1.9c0.4-0.4,0.4-1,0-1.3s-1-0.4-1.3,0L3.5,2.2L1.6,0.3c-0.4-0.4-1-0.4-1.3,0s-0.4,1,0,1.3
		l1.9,1.9L0.3,5.4c-0.4,0.4-0.4,1,0,1.3C0.5,6.9,0.7,7,0.9,7s0.5-0.1,0.7-0.3l1.9-1.9l1.9,1.9C5.6,6.9,5.8,7,6.1,7
		c0.2,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.3L4.8,3.5z"/>
</g>
</svg>

        </i>
<!--
        MASTER ITEM INITIALIZED IN route-creator-traits.js
-->
        <p data-channel="UI" data-route-bar-event="add"    data-holder-id="{{holderId}}" data-type="routeBar" data-event-type="routeCreator"  class="route-bar-btn add-subnav {{terminateClass}}">
            <!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In  -->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13.4px"
                 height="13.4px" viewBox="0 0 13.4 13.4" style="overflow:visible;enable-background:new 0 0 13.4 13.4;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#3E8BC5;}
</style>
                <defs>
</defs>
                <g id="Layer_9_copy">
	<path class="st0" d="M12.8,0H3.1C2.8,0,2.5,0.2,2.5,0.5v9.8c0,0.3,0.2,0.5,0.5,0.5h9.8c0.3,0,0.5-0.2,0.5-0.5V0.5
		C13.4,0.2,13.2,0,12.8,0z M12.3,9.8H3.6V1.1h8.7L12.3,9.8z M10.3,13.4H0.5c-0.3,0-0.5-0.2-0.5-0.5V3.1c0-0.3,0.2-0.5,0.5-0.5
		s0.5,0.2,0.5,0.5v9.3h9.3c0.3,0,0.5,0.2,0.5,0.5C10.9,13.1,10.6,13.4,10.3,13.4z M5.3,5.4c0-0.3,0.2-0.5,0.5-0.5h1.6V3.3
		c0-0.3,0.2-0.5,0.5-0.5c0.3,0,0.5,0.2,0.5,0.5v1.6h1.6c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.5-0.5,0.5H8.5v1.6c0,0.3-0.2,0.5-0.5,0.5
		c-0.3,0-0.5-0.2-0.5-0.5V6H5.8C5.5,6,5.3,5.7,5.3,5.4z"/>
</g>
</svg>



        </p>
    </div>

</section>
