



<div id="route-creator-container" data-vsid="main">
    <div class="route-creator-title">
        <p class="title">Customize Menu Tool</p>
        <p class="instx">Add, Edit and Drag Menu-items</p>
        <hr class="rule" />

    </div>

<header>
    <button class="btn btn-grey main-route-btn route-bar-btn add-subnav" data-channel="UI"  data-route-bar-event="add"     data-holder-id="{{holderId}}" data-event-type="routeCreator" data-type="routeBar">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17.9px"
             height="17.9px" viewBox="0 0 17.9 17.9" style="overflow:visible;enable-background:new 0 0 17.9 17.9;" xml:space="preserve">
<style type="text/css">

</style>
            <defs>
</defs>
            <path class="add-menu-btn-path" d="M17.2,0H4.1C3.7,0,3.4,0.3,3.4,0.7v13.1c0,0.4,0.3,0.7,0.7,0.7h13.1c0.4,0,0.7-0.3,0.7-0.7V0.7
	C17.9,0.3,17.6,0,17.2,0z M16.4,13.1H4.8V1.4h11.7L16.4,13.1z M13.8,17.9H0.7c-0.4,0-0.7-0.3-0.7-0.7V4.1c0-0.4,0.3-0.7,0.7-0.7
	s0.7,0.3,0.7,0.7v12.4h12.4c0.4,0,0.7,0.3,0.7,0.7C14.5,17.6,14.2,17.9,13.8,17.9z M7.1,7.3c0-0.4,0.3-0.7,0.7-0.7h2.1V4.4
	c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7v2.1h2.1c0.4,0,0.7,0.3,0.7,0.7c0,0.4-0.3,0.7-0.7,0.7h-2.1v2.1c0,0.4-0.3,0.7-0.7,0.7
	c-0.4,0-0.7-0.3-0.7-0.7V8H7.8C7.4,8,7.1,7.6,7.1,7.3z"/>
</svg>

        <span>MenuItem</span>


    </button>

</header>

</div>


<!--
<div id="route-creator-content">

</div>

-->
