<header>
    <button class="btn btn-blue main-route-btn route-bar-btn add-subnav" data-channel="UI"  data-route-bar-event="add"     data-holder-id="{{holderId}}" data-event-type="routeCreator" data-type="routeBar">Add Nav Item</button>

    <button class="btn btn-blue main-route-btn generate-route" data-event-type="routeCreator"  data-type="generateJson">GENERATE ROUTE</button>
    <button class="btn btn-blue main-route-btn reset-json" data-reset-json="true" data-event-type="routeCreator" data-type="resetJson">RESET</button>
</header>



<div id="route-creator-container" data-vsid="main"></div>


<!--
<div id="route-creator-content">

</div>

-->
