.home-content{
  display: flex;
 align-items: center;
 // padding: 0 1rem;
  div{
   // max-width:72ch;
  }



.app-download-link-holder{
  position: relative;;
  a{
    display: block;
    margin: 1rem 0;
    color: royalblue;
  }

}

  h1,h2,p,span{
    margin:0 0 .5rem 0;
    padding: 0;
  }

  h1{
    font-size:1.7rem;
   // margin-bottom: 1rem;
  }

  h2{
    font-size: 1.5rem;
    color: red;

    span{
      font-size: 1rem;
      color:#000;
    }
  }

  h4{
    margin-bottom:.25rem;
  }

  button{
    margin-top:1rem;
    &.btn-blue{

      //background: royalblue;
      padding: 10px 26px;
      border-radius: 6px;
      font-weight: 800;
      font-size: 1rem;
    }
  }


  ul{
    list-style-type: none;


    p{
      position: absolute;
      color:#fff;
      font-size: 16px;
      font-weight: 800;
      margin: 10px 0 0 10px;
    }

    img{
      width: 1200px;
    }

  }
}
