.home-content{
  display: flex;
 align-items: center;
  padding: 0 1rem;
  div{
   // max-width:72ch;
  }

  ul{
    list-style-type: none;

    p{
      position: absolute;
      color:#fff;
      font-size: 16px;
      font-weight: 800;
      margin: 10px 0 0 10px;
    }

    img{
      width: 400px;
    }

  }
}