
<div class="customize-block" id="route-json-holder">


</div>


<div class="customize-block" id="addtional-fields-container">


    <div id="additional-fields">

        <div class="form-check add-bootstrap">
            <input class="form-check-input" type="checkbox" value="" id="add-bootstrap" checked>
            <label class="form-check-label" for="flexCheckChecked">
                add bootstrap
            </label>
        </div>
        <div class="form-check add-console-plugin">
            <input class="form-check-input" type="checkbox" value="" id="add-bootstrap" >
            <label class="form-check-label" for="flexCheckChecked">
                add bootstrap
            </label>
        </div>
        <div class="form-check multi-page-navigation">
            <input class="form-check-input" type="checkbox" value="" id="add-bootstrap" checked>
            <label class="form-check-label" for="flexCheckChecked">
                multip-page navigation
            </label>
        </div>


    </div>




</div>
