#customize-container{
  position:relative;
  background: $clr-route-creator-container-bg;
  //background: #0b2e13;
  //min-height: 120px;
  overflow: hidden;;
  height: 0;
 // flex-grow: 0;
  //transition: all .5s ease-in-out;
  box-shadow: inset 0 -4px 10px 0 rgba(255,255,255,.2);



  &.reveal{
   // flex-grow:2;
   // height: 650px;
  //  max-height: min-content;
    //height: 0;
   // height: 600px;
  }

  #customize-main-view{

  }
}