#dynamic-app-ui{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  color:#333;
  z-index: $z-index-dynamic-app-ui;

  #dynamic-app-header{
    position: relative;
    top: 0;
    width: 100%;
    height: 68px;
    //background: #ededed;
    background: #000;
    color:#ccc;
    padding: 0 1.5rem;


    header{
      position: relative;
      width:100%;
      height:100%;
      @include add-border-shadow;
      display: flex;
      align-items: flex-end;
      padding: 10px 0;

    }

    .dynamic-app-header-content {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;


      a {
        position: relative;
        font-size: 18px;
        pointer-events: all;
        cursor: pointer;
        margin: 0 .5rem;
        color: skyblue;
        text-decoration: none;
        user-select: none;

        opacity: .7;

        &.selected{
          //font-weight: 800;
          pointer-events: none;
          color:#fff;
          opacity: .8;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

  }

  #dynamic-app-footer{
    position:relative;
    width:100%;
    height:100%;
    @include add-border-shadow;
    display: flex;
    align-items: flex-end;
    padding: 10px 0;
    height: 68px;
    background: #000;
    color:#ccc;

    footer{
      position: relative;
      height: 100%;
      margin: 0 1.5rem;
    }
    p{
      color: skyblue;
      opacity: .6;
      padding: 0 .5rem;
    }

  }

}