#dynamic-app-page-container {

  padding: 76px 2em 0 2rem;

  width:100%;
  height: 100%;
  background: #cdcdcd;
  z-index: $z-index-dynamic-app-pages;

  .dynamic-app-page {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem 0;


  }


}