
$largeBtnPadding: 1rem 2rem;
$medBtnPadding: .5rem 1rem;
$smallBtnPadding: .25rem .5rem;
$btnColor:#0069ed;

$largeBtnFontSize: 1rem;
$medBtnFontSize: .75rem;
$smallBtnFontSize: .5rem;

$paddingSizes: (
  large: $largeBtnPadding,
  medium: $medBtnPadding,
  small: $smallBtnPadding
);

$fontSizes: (
  large: 1rem,
  medium: .75rem,
  small: .5rem


);


button.btn {
  display: inline-block;
  border: none;
  //padding:$medBtnPadding;
  margin: 0;
  text-decoration: none;
  //background: $btnColor;
  color: #ffffff;
  font-family: sans-serif;
 // font-size: $medBtnFontSize;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button.btn:hover,
button.btn:focus {
  //background: #0053ba;
}

button.btn:focus {
  outline: 1px solid #fff;
  //outline-offset: -4px;
}

button.btn:active {
  transform: scale(0.99);
}


@mixin baseBtn($size, $color){
  padding: map_get($paddingSizes, $size);
  font-size: map_get($fontSizes, $size);
  background: $color;
  &:focus, &:hover{
    background: darken($color, 10);

  }

}

.btn-blue{
  background: orange;
  @include baseBtn('medium', $btnColor);
}


.btn-grey{
 // background: #212121;
  @include baseBtn('medium', #212121);
  border-radius: 24px;
  color: $clr-route-creator-blue;

}


.btn-clear{
  background: none;
  @include baseBtn('medium', rgba(255,255,255,0));
  color:$clr-route-creator-blue;

  &:hover{
    background: none;
  }
}


/*
button {
  display: inline-block;
  border: none;
  padding:$medBtnPadding;
  margin: 0;
  text-decoration: none;
  background: $btnColor;
  color: #ffffff;
  font-family: sans-serif;
  font-size: $medBtnFontSize;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
 outline: 1px solid #fff;
  //outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
*/

