$enable-responsive-font-sizes: true;

$z-index-ui: 5000;

$z-index-dynamic-app-ui: 4500;
$z-index-dynamic-app-pages: 4000;



$clr-route-creator-container-bg:        #2A2B31;
$clr-route-creator-panel-bg:            #22242A;
$clr-route-creator-panel-hilight:       #3B8DC2;
$clr-route-creator-panel-text:          #5B6370;
$clr-route-creator-panel-input:         #191A1F;
$clr-route-creator-panel-input-text:    #8D939D;