
.customize-panel{
  position:relative;
  width: 44%;
  margin: 0 2rem;
  //background: #ddd;
  height: 100%;
  z-index: $z-index-ui;



}
#route-json-viewer{

  &.customize-panel{
    z-index: $z-index-ui - 10;
  }
}
